# Application Port
APP_PORT=8081

POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/gbu_inventory?sslmode=disable

# For Local Development (jika PostgreSQL installed lokal):
# POSTGRES_DSN=postgres://postgres:your_password@localhost:5432/gbu_inventory?sslmode=disable
